.cont {
  display: flex;
  width: 100%;
  height: max-content;
  flex-wrap: wrap;
}

.filters {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0 .5rem;

  input {
    font-size: 1.2em;
    background-color: black;
    color: white;
    border: .15rem solid gray;
    transition: border-color 100ms ease-in-out;
    padding: .5rem;
    width: 100%;
    max-width: 300px;

    &:focus {
      outline: none;
      border-color: #4883db;
    }
  }
}
