{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env", {
        "targets": {
          "chrome": "89"
        }
      }
    ],
    [
      "@babel/preset-react", {
        "runtime": "automatic"
      }
    ]
  ]
}